<!--お気に入り機能は会員ユーザーのみ-->
<% if admin_signed_in? || current_user.name == "guestuser" %>
  <i class="fas fa-solid fa-fish pe-1" aria-hidden="true" style="color: #a9a9a9;"></i><%= post_image.favorites.count %>
<% elsif user_signed_in? %>
  <div id="favorite-btn_<%= post_image.id %>"><%= render "user/favorites/favorite-btn", post_image: post_image %></div>
<% end %>