<div class="container">
  <h2>退会確認画面</h2>
    <div class="row pt-4">
      <p>退会するとマイページにアクセスできなくなり、投稿・コメント機能・お気に入り機能が使用できなくなります。</p>
      <p>投稿した画像やコメント履歴は削除されません。</p>
    </div>
    <div class="row pt-4">
      <div class="col-2"></div>
      <div class="col-4">
        <%= link_to "退会する", users_withdraw_path, method: :patch, data: {confirm: "本当に退会しますか？"}, class: "btn btn-md" %>
      </div>
      <div class="col-4">
        <%= link_to "退会しない", mypage_path, class: "btn btn-md" %>
      </div>
      <div class="col-2"></div>
    </div>
</div>