@import "~bootstrap/scss/bootstrap.scss";

.btn {
  background-color: #FFDBC9;
}

// 投稿画像を丸くしてる
.cat-photo {
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
  border: 5px solid #333;
}