<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-4">
      <%= image_tag 'about.jpg', class: "card-img" %>
    </div>
    <div class="col-6">
      <h2>自身で撮影したねこの写真を投稿したり、<br>他の方の投稿写真を閲覧したり、<br>同じねこ好きの方とのコミュニケーションを楽しむサイトです！</h2>
    </div>
    <div class="col-1"></div>
  </div>
</div>