<div class="search-form">
  <%= form_with url: admin_search_path, method: :get, local: true do |f| %>
    <%= f.text_field :content %><br>
    <%= f.select :model, options_for_select({"ユーザー"=>"user", "投稿タイトル"=>"post_image"}) %>
    <%= f.submit "検索" %>
  <% end %>
</div>