<div class="container-fluid text-dark" style="background-color:#E6FFE9; position: absolute; bottom:0;">
  <div class="row">
    <div class='col-4 mx-auto mt-4 mb-2 text-center'>
    	<p>CatComm</p>
    </div>
    <div class='col-4 mx-auto mt-4 mb-2 text-center'>
    	<i class="fas fa-solid fa-paw" style="font-size: 2rem;"></i>
    	<i class="fas fa-solid fa-paw" style="font-size: 2rem;"></i>
    	<i class="fas fa-solid fa-paw" style="font-size: 2rem;"></i>
    </div>    
    <div class='col-4 mx-auto mt-4 mb-2 text-center'>
    	<p>お問い合わせ</p>
    </div>
  </div>
</div>