<div class="container text-dark">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4 mx-auto mt-4 mb-2 text-center">
    	<i class="fas fa-solid fa-paw" style="font-size: 2rem;"></i>
    	<i class="fas fa-solid fa-paw mx-3" style="font-size: 2rem;"></i>
    	<i class="fas fa-solid fa-paw" style="font-size: 2rem;"></i>
    </div>
    <div class="col-4 mx-auto mt-4 mb-2 text-center">
    	<p>©CatComm 2022</p>
    </div>
  </div>
</div>