<div class="container-fluid text-dark">
  <div class="row">
    <div class='col-4 mx-auto mt-4 mb-2 text-center'>
    	<p>CatComm</p>
    </div>
    <div class='col-4 mx-auto mt-4 mb-2 text-center'>
    	<i class="fas fa-solid fa-paw" style="font-size: 2rem;"></i>
    	<i class="fas fa-solid fa-paw" style="font-size: 2rem;"></i>
    	<i class="fas fa-solid fa-paw" style="font-size: 2rem;"></i>
    	<!--<%= image_tag 'footer-logo.png' %>後でロゴ考える-->
    </div>
    <div class='col-4 mx-auto mt-4 mb-2 text-center'>
    	<p>お問い合わせ</p>
    </div>
  </div>
</div>